.image-container img{
	overflow: hidden;
	height: 200px;
	justify-content: center;
}
.card-container{

}
.card-container:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 0px;
}

.card-content{
	margin: 1rem;
	margin-top: 0.5rem;
}

h4, {
	margin: 0;
	padding: 0;
	font-style: oblique;

}

p{
	margin: 0;
	padding: 0;
}

.card-title{
	margin-bottom: 0.5rem;
}

.btnn{
display: flex;
justify-content: center;
}

.btnn button{
	padding: 0.5rem;
	background-color:#1bfc9e;
	border: none;
	transition: 0.2s;
	margin-bottom: 0.5rem;
	border-radius: 3px;

}

.btnn button:hover{
	background: rgba(121, 206, 142, 0.1);
}

a{
	text-transform: uppercase;
	color: #FFCE00 50%;
	text-decoration: none;
	font-weight: bold;
} 

.startup_Collection{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .startup-card{
	/* box-shadow: 0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in;
	overflow: hidden;
	width: 50vw;
	height: auto;
	margin: 12px;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  } */
  box-shadow: 0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in;
	border-radius: 5%;
	overflow: hidden;
	width: 50vw;
	height: 35vw;
	margin: 10px;
	display: inline-block;
  	flex-wrap: wrap;
  	justify-content: center;
}